
body {
  margin: 0;
  padding: 0;
}

/*.dice {
  overflow: auto;
  margin: auto;
  width: 916px;
}*/

#background {
  margin: auto;
  width: 75%;
  max-width: 400px;
}

#backgroundImg {
  display: block;
  margin: auto;
  width: 75%;
}

#inner-dice {
  /*border: solid;*/
  display: table;
  margin: 0 auto;
}

#previous-roll, #this-roll {
  display: block;
  width: 150px;
  float: left;
  margin-left: 10px;
}

#previous-roll img {
  height: 60px;
}

#this-roll img {
  height: 120px;
}

#lets-roll {
  
}