
body {
  margin: 0;
  padding: 0;
}

#background {
  margin: auto;
  width: 75%;
  max-width: 400px;
}

#backgroundImg {
  display: block;
  margin: auto;
  width: 75%;
}

#inner-dice {
  /*border: solid;*/
  display: table;
  margin: 0 auto;
}

#previous-roll, #this-roll {
  display: block;
  width: 140px;
  float: left;
  margin-left: 20px;
}

#previous-roll img {
  height: 60px;
}

#this-roll img {
  height: 120px;
}

#lets-roll {
  margin: auto;
  width: 75%;
  /*border: solid;*/
  text-align: center;
}

#buttons {
  /*border: solid;*/
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0 auto;
  width: 75%;
  height: 30px;
}

button {
  background-color: #555555;
  color: white;
  border: none;
  font-size: 16px;
  padding: 8px 15px;
}

#higher, #lower {
  display: inline-block;
}

#lower {
  margin-left: 10px;
}